body{
  background-image: url("b6.jpg");

  height: 100%;

  /* Center and scale the image nicely */

  background-repeat: no-repeat;
  align-items: center;
  margin: auto;
  background-size: cover;
  
}

.container_form{
    width: 700px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; ;
    background-color: aliceblue;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 0.5pc;
    box-shadow: 2px 2px 2px 2px #888888;
}

label{
    font-size: 20px;
    color:black;
   
}

label:hover{
    color: darkblue;
    text-shadow: rgb(232, 239, 33);
    background-color: aqua;  
    border-radius: 0.5pc; 
}

.f_heading{
    margin: auto;
    width: auto;
    height: fit-content;
    border-radius: 1pc;
    text-align: center;
    background-color: aquamarine;
    margin-bottom: 30px;
}

.f_heading:hover{
    background-color: blue;
    color: beige;
}
title{
    box-shadow: 5px 5px solid black;
}
.title:hover{
    color: blue;
}

.footer{
    text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 30px;   /* Height of the footer */
        background: #6cf;
}

.n_feature{
    float: right;
    position: absolute;
}

@media screen and (max-width: 565px) {
   .container_form{
    width: 340px;
   }
  }